/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer{
  background-color: $bg-nav-collapse;
  background-image: url('../img/hero/footer-bg.png');
  background-position: center bottom 26px;
    background-repeat: no-repeat;
  .footer-inner{
    padding: 60px 0px;
    @media only screen and (max-width: 767px) {
     padding: 40px 0px;
    }

  }
  .footer-logo{
    .img-logo{
      height: 80px;
      margin-bottom: 24px;
      @media only screen and (max-width: 767px) {
       margin-bottom: 14px;
      }
    }
  }
  .social-list{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      &:not(:last-child) {
      margin-right: 12px;
      }
    }
    a{
      display: inline-block;
      text-decoration: none;
      color: $primary-color;
      font-size: 18px;
    }
  }
  .footer-links{
    h3{
      font-size: 22px;
      color: $primary-color;
      font-weight: 600;
      margin-bottom: 16px;
      @media only screen and (max-width: 767px) {
       font-size: 19px;
       margin-bottom: 11px;
      }
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        &:not(:last-child) {
        margin-bottom: 10px;
        }
      }
      a{
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-weight: 500;
        @media only screen and (max-width: 767px) {
         font-size: 15px;
        }
      }
      i{
        color: $primary-color;
        font-size: 15px;
      }
    }
  }
  .flex{
    display: flex;
    h5{
      font-size: 16px;
      font-weight: 500;
      color: $primary-color;
      margin-bottom: 3px;
    }
    p{
      color: #fff;
      line-height: 1.5;
      @media only screen and (max-width: 767px) {
       font-size: 15px;
      }
    }
      a{
        text-decoration: none;
        display: inline-block;
        color: #fff;
        @media only screen and (max-width: 767px) {
         font-size: 15px;
        }
      }
    i{
      color: $primary-color;
      width: 20px;
      min-width: 20px;
    }
  }
}

.footer-legal{
  padding: 20px 20px;
  background-color: darken($color: $bg-nav-collapse, $amount: 6%);
  text-align: center;
  p{
    font-size: 15px;
    color: #fff;
    opacity: .7;
  }
  a{
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    text-decoration: underline;
  }
}
